:root{
  --yellow: #ffc600;
  /* to use put in code var(--yellow) instead of the actual color name or hex code */
}
html {
  /* border-box box model allows us to add padding and border to our elements without increasing their size */
  box-sizing: border-box;
  /* A system font stack so things load nice and quick! */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 900;
  font-size: 10px;
  color: var(--black);
  text-shadow: 0 2px 0 rgba(0, 0, 0, 0.07);

}

body{
  letter-spacing: 1px!important;
  font-family:Roboto, sans-serif!important;
  text-shadow: none!important;
}
a {
  font-size: 16;
  font-family:'avenir', sans-serif;
  color:white;
  color: black;
  padding: 00px 0px;
  width: 120;
  height:50;
  text-align: center;
  text-decoration: none!important;
  display: inline-block;
}

a:link, a:visited {
  color: black;
  padding: 00px 0px;
  width: 120;
  height:50;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: peachpuff;
}

.navbar_li{

}

.navbar_li:hover{
  background: lightblue;
}
/*
  WAT IS THIS?!
  We inherit box-sizing: border-box; from our <html> selector
  Apparently this is a bit better than applying box-sizing: border-box; directly to the * selector
*/
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-size: 340px, auto;
  min-height: calc(100vh - 100px);
  margin: 50px;
  /* background: white; */
  background-position: fixed;
  letter-spacing: -1px;
}

.dashboard_contentBlock {
  margin-left: 20;
  margin-right: 20;
  margin-top: 10;
  margin-bottom: 20;
  background: #ffffff;
  height: 250;
  text-align: center;

}

.navbar {
  display: grid;
  grid-template-columns: repeat(auto-fill, 10%);
  grid-template-rows: 80px;
  /* background-color:lightgoldenrodyellow;   */
  background-color: white;
  align-items: center;
  justify-items: center;
}

.navbar_profile{
  grid-column: 9 / span 2;

  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
  /*grid-template-rows: 1fr 1fr 1fr;
  background: #4CAF50; */
}

.navbar_logout {

  grid-column: 10/11;
}
.navbar_help{
  grid-column: 9/10;
}

.navbar_logo {

  grid-column: 1 / span 1;
  grid-row-start: 1;
}

.navbar_profile_pic {
  width: 50;
  height:50;
}

.logo {
  width: 120;
  height: 60;
}


.dashboard_background{
 background: #A6B2DD;
 width: 100%;
 height: 100%;

 align-items: center;
}

.dashboard_title{
  margin-left: 10;
}




.summaryView_container{
  margin-top:10;
}



/* container tryout */

/* Style the container with a rounded border, grey background and some padding and margin */
.container {
    border: 2px solid #ccc;
    background-color: #eee;
    border-radius: 5px;
    padding: 16px;
    display: block;
    margin: auto;
    margin-top: 80;
}

/* Clear floats after containers */
.container::after {
    content: "";
    clear: both;
    display: table;
}

/* Add media queries for responsiveness. This will center both the text and the image inside the container */
@media (max-width: 500px) {
  .container {
    text-align: center;
  }
}

.staffList_container{
  margin-top: 30;
}

.clientList_container{
  margin-top: 30;
}

h1 {
  margin: 0;
  padding: 0;
}
html, body, .app {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
.addButton_overlay {

  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0,0,0, 0.5);
  z-index:10;
  position:relative
}
.addButton_popup {
  position: absolute;
  left: 25%;
  right: 25%;
  top: 25%;
  bottom: 25%;
  margin: auto;
  background: white;
}

.clientProfile_scheduleView {
}

.clientProfile_cell {
  border: 1px solid black;
}

.timeColumn_container{
  display: grid;
  grid-template-columns: [left-side] 100px [center-side] 500px [right-side] 200fr [end-side]; /* also repeat (5, 100px 2fr); also 25%  fr gets whatever is left after everything is drawn also auto depends on the item with the biggest content on it */
  grid-template-rows: 100px 200px 300px;
  grid-auto-rows: 200px; /* passing extra values here is buggy on firefox, but not in chrome */
  grid-gap: 20px;
  grid-auto-columns: 150px;
  grid-auto-flow: row; /* could also be column */
  /* autofill is used at repeat(auto-fill, 150px) to set up the number of columns depending on the available content */
  /* similar to autofill, auto-fit set depending on the number of columns, but doesnt expand if moved */
  /* minmax(minval, maxval) instead of giving a size for the column */
  /* fitcontent(maxval) sets the maximum size instead of using auto */
  /* grid-template-area : "name1 name2 name3" "undername1 undername2 undername3" or "here here2 ." . means nothing */
  /* can also use namearea-start or namearea-end instead of numbers to delimit ranges */
  /* grid-auto-flow dense to fill all the gaps */
  /* adding !important at the end of anything overwrites anything else */
}
 
 /*cool stuff
  item:nth-child(6n) {

  }
  adds css to any item multiple of 6 i.e. item6 item 12 etc */

.timeColum_item {
  /* We center the contents of these items. You can also do this with flexbox too! */
  display: grid;
  justify-content: center;
  align-items: center;
  border: 5px solid rgba(0, 0, 0, 0.03);
  border-radius: 3px;
  font-size: 35px;
  background-color: var(--yellow); /* best colour */
  /*grid-column: span 2;
  grid-row: span 2;
  grid-column-start: 2;
  grid-column-end:5; or grid-column:2/5;  == -1 gets it to the end to get 100% witdh
  same with grid-row
  grid-area: footer would move it there*/
}

.timeColum_item p {
  margin: 0 0 5px 0;
}

/*@media (max-width: 700px){
  .container{
    grid-template-areas:
      "content content content"
      "stuff stuff stuff"
      "so so so"
  }
}*/


.tabContainer { 
    /* color: #000000 !important; */
    background: rgb(184, 221, 233) !important;
    font-weight: bold!important;
    font-size: 18!important;
    font-family: 'avenir', BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif!important;
}

/* .tabContainer:active,
.tabContainer:focus,
*/
.tabContainer:hover{
  background: peachpuff!important
} 


.tableHeader {
  color:black!important;
  font-size: 17!important;
  font-weight: bold!important;
}

.directoryBody{
  padding: 50px;
  font-size:20;
}

.directoryBody a{
  background-color: peachpuff!important;
}
.directoryTitle{
  font-size: 50;
  color: lightskyblue;
  border-bottom: 1px solid lightskyblue;
}

.directoryList{
  display: grid;
  grid-template-columns: repeat(1,1fr);

}

.directoryItem{
  margin: 5px;
  padding:30;
  border: 1px solid lightblue;
  background: rgb(212, 239, 255);
  font-size: 20;
  color:rgb(112, 112, 112);
  display: grid;
  grid-template-columns: repeat(2,1fr);
}

.directoryItem:hover{
  border: 5px solid peachpuff;
}
.directoryItemTitle{
  grid-column: 1/-1;
  border-bottom: 1px solid rgb(112, 112, 112);
  font-size: 30;
}

.guideTitle{
  grid-column: 1/-1;
  font-size: 30;
  margin-top: 30px;
}

.guideTitle:hover{
  margin-top: 30px;
  background: peachpuff;
}

.directoryItemBody{
  padding-top: 10px;
}

.summaryTable{
  margin: auto;
  margin-top:40;
  padding:10;

  font-size: 20;
  color:rgb(112, 112, 112);
  display: grid;
  grid-template-columns: repeat(1,1fr);
}

.summaryItem{
  border: 1px solid lightblue;
  background: rgb(212, 239, 255);
  width: 30%;
  margin:auto;
  margin-top: 10px;
  justify-content: center;
  display: grid;

  grid-template-columns: repeat(1,1fr);
  grid-template-rows: repeat(1,2fr 1fr);
 }

.summaryItemTitle{
  font-size:40;
  color:black;
  font-family: 'avenir';
  margin-bottom: -20px;
}

.summaryItemSub{
  font-size:15;
}
.dropdown{
  color: rgba(0, 0, 0, 0.87); 
  width:300px!important;
  height: 40px!important; 
  line-height: 0px!important; 
  overflow: hidden; 
  opacity: 1; 
  text-overflow: ellipsis; 
  top: 0px; 
  white-space: nowrap;
}

.alertMessage{
  color:red;
  margin-top: 100px;
  padding-top: 20px;
}

.formDivFrame {
  margin-top:200px;
  display: grid;
  grid-template-columns: repeat(1,1fr 3fr 1fr);
  text-align: center;
}

iframe{
  grid-column:2/3;
  display: inline-block;
}

.tabDescription{
  font-weight: bold;
  margin-top:20px;
  margin-left:10px;
  font-size:20px;
  color:black
}

.tabSub{
  margin-top:10px;
  margin-left:28px;
  margin-right:28px;
  margin-bottom: -40px;
  font-size:14;
  color:black;
  font-weight:lighter;
}

.dialogText{
  font-size: 16;
  grid-column: 1/3;
}

.dialogBody{
  display: grid;
  grid-template-rows: repeat(5,1fr);
  grid-template-columns: repeat(2,1fr);
  align-items: center;
}

.dropdown{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: repeat(1,1fr);
}

.dropdown_title{
  grid-column: 1/2;
}

.dropdown_body{
  grid-column: 2/3;
}

.visitlogBody{
 
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
}

.directoryItemVisitLog{
  grid-column: 1/3;
  padding: 10px;
  padding-top: 10px;
}

.directoryItemHead{
  margin: 20px;
  padding:1;
  border: 1px solid lightblue;
  background: rgb(212, 239, 255);
  font-size: 20;
  color:rgb(112, 112, 112);
}

.directoryItemHead:hover{
  border: 1px solid peachpuff;
}

.visitlogEntry{
  margin-top:10px;
  display: grid;
  padding: 5px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  background: white;
}

.visitlogTitle{
  font-size: 30;
  border-bottom: 1px solid rgb(112, 112, 112);
}

.visitlogEntry:hover{
  border: 5px solid peachpuff;
}

.dialogTitle{

  font-size: 40!important;
  font-weight: bold!important;
  border-bottom: 1px solid rgb(112, 112, 112);
  margin: 20px!important;
  padding-bottom: 10px;
}

.dialogWindow{
  /* margin:auto;
  width:100%!important; */
  display: grid!important;
  grid-gap:10px!important;
  grid-template-columns: repeat(1, 1fr 1fr)!important;
  grid-template-rows: repeat(12,40px)!important; 
  align-items: center!important;

}

.rowItem{
  margin-left:23px!important;
}

.allShiftsCalendar {
  width: 20%;
  margin-left: 20px;
}